{{ if eq .Lang "nl" }}
De inhoud van deze website is, tenzij anders aangegeven, beschikbaar onder de
voorwaarden van de <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC
BY-SA 4.0 licentie</a>.
<a href="https://github.com/m-rtijn/mrtijn.nl">Bronbestanden</a> zijn beschikbaar
onder de <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">AGPLv3</a>.
<br><br>
Copyright 2018-2024
{{ else }}
Website content is, unless otherwise noted, available under the
<a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0 License</a>.
<a href="https://github.com/m-rtijn/mrtijn.nl">Source files</a> are
<a href="https://www.gnu.org/licenses/agpl-3.0.en.html">AGPLv3</a>.
<br><br>
Copyright 2018-2024
{{ end }}
