<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Martijn's blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <article>
        <header>
            <h1>Martijn's blog</h1>
        </header>
        <nav>
            <a href="/">Main</a>
            <a href="/blog">Blog</a>
        </nav>

        <h1>Test title which is longer than nothing</h1>
        <p><i>YYYY-MM-DD</i></p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    </article>
    <footer>
        <small>
            The <a href="https://github.com/Tijndagamer/mrtijn.nl">code</a> for
            this website is licensed under the terms of the AGPLv3+.
        <br>
            Last updated on YYYY-MM-DD.
        </small>
    </footer>
</body>
</html>
