<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
    <article>
    <div>
      <h2>{{ page.title }}</h2>
      <nav>
        <a href="/">Main</a>
        <a href="/blog.html">Blog</a>
      </nav>

      {{ page.content }}
    </div>
    </article>
    <footer>
        <small>
            The <a href="https://github.com/Tijndagamer/mrtijn.nl">code</a> for
            this website is licensed under the terms of the
            <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">AGPLv3</a>,
            or, at your option, any later version.
        <br>
            Blog content and pictures are, unless otherwise noted, licensed under
               a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                CC-BY-SA 4.0 License</a>.
        <br>
            <a href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="CC-BY-SA 4.0
            International" src="/static/ccbysa4.0_small.png"></a>
        <br>
            Last updated on 2019-07-16.
        </small>
    </footer>
  </body>
</html>
